<h1>Lista de Pacotes</h1>

<ul>
  {{#each pacotes}}
    <li class="card">
      <a href="/pacotes/{{id}}">
        <p><strong>Remetente:</strong> {{remetente}}</p>
        <p><strong>Destinatário:</strong> {{destinatario}}</p>
        <p><strong>Endereço de entrega:</strong> {{endereco}}</p>
      </a>
    </li>
  {{/each}}
</ul>

<form action="/logout" method="POST" >
  <input type="submit" value="Sair" />
</form>
