<div class="container">
  <h1>Lista de Pacotes</h1>

  <ul>
    {{#each pacotes}}
      <li class="card">
        <a href="/pacotes/{{id}}">
          <p><strong>Remetente:</strong> {{pacotes.remetente}}</p>
          <p><strong>Destinatário:</strong> {{pacotes.destinatario}}</p>
          <p><strong>Endereço de entrega:</strong> {{pacotes.endereco}}</p>
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="s">
    <form action="/logout" method="POST">
      <input type="submit" value="Sair" class="btn-sair" />
    </form>
  </div>
</div>